<!doctype html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="<%= config.SEO.author %>">
	<meta name="keywords" content="<%= config.SEO.keywords %>">
	<meta name="description" content="<%= config.SEO.description %>">
	<title>
		<%= config.title %>
	</title>
	<style>
		* {
			margin: 0;
			padding: 0;
		}

		h1 {
			color: #333;
		}

		body {
			padding: 5px;
		}
	</style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/icon.min.css"
		integrity="sha512-rTyypI20S663Wq9zrzMSOP1MNPHaYX7+ug5OZ/DTqCDLwRdErCo2W30Hdme3aUzJSvAUap3SmBk0r5j0vRxyGw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./css/semantic.css" />
	<link rel="stylesheet" href="./css/index.css" />
	<link rel="stylesheet" href="./css/switch.css" />
	<link rel="icon" href="<%- config.baseURL %>favicon.png" type="image/png">
	<script src="./js/jquery.js"></script>
	<script src="./js/semantic.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/minisearch@7.1.1/dist/umd/index.min.js"></script>
	<script>
		let pageNumber = <%- config.pageNumber %>;
		const baseURL = "<%- config.baseURL %>";
	</script>
</head>

<body>
	<label class="burger" for="burger">
		<input type="checkbox" id="burger">
		<span></span>
		<span></span>
		<span></span>
	</label>
	<!-- 移动端菜单栏 -->
	<div class="my-index-burger-menu">
		<div>
			<div class="ui secondary vertical menu" style="width: 100%;">
				<% Object.values(tags).forEach(element=> { %>
					<a onclick="onSelectTag('<%= element %>')" class="item" style="text-align: center;">
						<%= element %>
					</a>
					<% }) %>
			</div>
		</div>
	</div>
	<div class="my-index-layout">
		<!-- 菜单栏 -->
		<div class="ui secondary vertical menu my-index-menu">
			<% Object.values(tags).forEach(element=> { %>
				<a onclick="onSelectTag('<%= element %>')" class="item">
					<%= element %>
				</a>
				<% }) %>
		</div>

		<div class="my-index-right-container">
			<div class="flex-20" style="max-width: 100vw;overflow: hidden;">
				<div class="ui icon input">
					<input id="mySearch" onkeydown="onSearch(event)" type="text" placeholder="搜索...">
					<i class="search icon"></i>
				</div>
				<div class="flex-20" style="transform: scale(0.8);transform-origin: left;">
					<a class="ui tag label">作品：<%= dataList.length %></a>
					<a class="ui tag label">标签：<%= Object.keys(tags).length %></a>
				</div>
			</div>
			<label class="ui-switch" style="position: fixed;bottom: 10px;right: 10px;">
				<input type="checkbox" onchange="onSwitchTheme()" id="switch_theme">
				<div class="slider">
					<div class="circle"></div>
				</div>
			</label>

			<div style="margin-top: 20px;" class="my-index-flex-center">
				<div class="my-index-flex-column-center">
					<div style="display: flex;justify-content: center;">
						<p class="title" onclick="onGoHome()">
							<%= config.title %>
						</p>
					</div>
					<p style="text-align: center;">
						<%= config.subTitle %>
					</p>
				</div>
			</div>
			<!-- 网站卡片 -->
			<div class="my-index-cards">
				<% dataList.forEach(element=> { %>
					<div class="card" onclick="onJump('<%= element.url %>')">
						<div class="my-index-card-header">
							<img data-img="<%= element.ico %>" src="<%- config.baseURL %>assets/load-error.svg" alt="">
							<div>
								<%= element.name %>
							</div>
						</div>
						<div style="font-size: 0.7rem;" class="description multi-line-ellipsis">
							<%= element.description %>
						</div>
						<div class="my-index-card-tags">
							<% element.tags.forEach(tag=> { %>
								<div style="padding: 6px 12px;font-size: 0.6rem;" class="ui horizontal label">
									<%= tag %>
								</div>
								<% }) %>
						</div>
					</div>
					<% }) %>
			</div>
			<!-- 分页菜单 -->
			<div style="display: flex;justify-content: center;">
				<div style="transform: scale(0.8);" class="ui floated pagination menu">
					<a class="icon item">
						<i class="left chevron icon"></i>
					</a>
					<% const totalPages=Math.ceil(dataList.length / config.pageNumber);for (let i=0; i<totalPages; i++)
						{ %>
						<a class="item" onclick="changePage('<%= i %>')">
							<%= i + 1 %>
						</a>
						<% } %>
							<a class="icon item">
								<i class="right chevron icon"></i>
							</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
// 主题显示
		const theme = localStorage.getItem('theme')
		const switchThemeDom = document.querySelector('#switch_theme')
		const html = document.querySelector('html')
		if(theme === 'dark'){
			html.style.filter = 'invert(1) hue-rotate(180deg)'
			switchThemeDom.checked = true
		}else {
			html.style.filter = ''
			switchThemeDom.checked = false
		}	
</script>

<script src="./data/index.js"></script>
<script src="./js/utils.js"></script>
<script src="./js/index.js"></script>

</html>